* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    width: fit-content;
    padding: 20px;
    gap: 20px;
}

#control {
    background-color: lightgray;
    height: 600px;
    width: 300px;
}

h2 {
    text-align: center;
}

#control form,
#control {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* border: 1px solid red; */
}

#control button {
    padding: 5px;
    font-size: 1em;
    margin-bottom: 5px;
}

canvas {
    display: block;
    margin: auto;
    background-color: lightgray;
    /* border: 1px solid red; */
}